.edit-user-text{
    text-align: center;
    color: white;
    padding-top: 20px;
    margin: 0px;
}

.EditUserForm{
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.editUserLabel{
    display: inline-block;
    width: 150px;
    text-align: right;
    justify-content: center;
}

.password-submit-button{
    width: 50%;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #B197FC;
    font-size: 15px;
    color: hsl(244, 28%, 23%);
    position: relative;
    bottom: 100px;
    margin: 10px 300px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
  }
  
  .close {
    position: relative;
    left: 95%;
    font-size: 30px;
    cursor: pointer;
  }

  .close h2{
    margin: 0;
  }
  
  .password-form-field {
    margin-bottom: 15px;
  }
  
  .password-form-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .password-form-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-reset-form button {
    padding: 10px 20px;
    background-color: #B197FC;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .password-reset-form button:hover {
    background-color: #a081fe;
  }
  

